# coding: utf-8

"""
    Cherwell REST API

    Unofficial Python Cherwell REST API library.  # noqa: E501

    The version of the OpenAPI document: 9.3.2
    Contact: See AUTHORS.
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pycherwell.api_client import ApiClient
from pycherwell.exceptions import (
    ApiTypeError,
    ApiValueError
)


class BusinessObjectApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def business_object_delete_business_object_batch_v1(self, batch_delete_request, **kwargs):  # noqa: E501
        """Delete Business Objects in a batch  # noqa: E501

        Operation to delete a batch of Business Objects.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_batch_v1(batch_delete_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param BatchDeleteRequest batch_delete_request: Specify an array of Business Object IDs and record IDs or public IDs. Use a flag to stop on error or continue on error. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: BatchDeleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_delete_business_object_batch_v1_with_http_info(batch_delete_request, **kwargs)  # noqa: E501

    def business_object_delete_business_object_batch_v1_with_http_info(self, batch_delete_request, **kwargs):  # noqa: E501
        """Delete Business Objects in a batch  # noqa: E501

        Operation to delete a batch of Business Objects.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_batch_v1_with_http_info(batch_delete_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param BatchDeleteRequest batch_delete_request: Specify an array of Business Object IDs and record IDs or public IDs. Use a flag to stop on error or continue on error. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(BatchDeleteResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['batch_delete_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_delete_business_object_batch_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'batch_delete_request' is set
        if ('batch_delete_request' not in local_var_params or
                local_var_params['batch_delete_request'] is None):
            raise ApiValueError("Missing the required parameter `batch_delete_request` when calling `business_object_delete_business_object_batch_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'batch_delete_request' in local_var_params:
            body_params = local_var_params['batch_delete_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/deletebusinessobjectbatch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BatchDeleteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_delete_business_object_by_public_id_v1(self, busobid, publicid, **kwargs):  # noqa: E501
        """Delete a Business Object by public ID  # noqa: E501

        Operation to delete a Business Object by Business Object ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_by_public_id_v1(busobid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: DeleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_delete_business_object_by_public_id_v1_with_http_info(busobid, publicid, **kwargs)  # noqa: E501

    def business_object_delete_business_object_by_public_id_v1_with_http_info(self, busobid, publicid, **kwargs):  # noqa: E501
        """Delete a Business Object by public ID  # noqa: E501

        Operation to delete a Business Object by Business Object ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_by_public_id_v1_with_http_info(busobid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(DeleteResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobid', 'publicid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_delete_business_object_by_public_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobid' is set
        if ('busobid' not in local_var_params or
                local_var_params['busobid'] is None):
            raise ApiValueError("Missing the required parameter `busobid` when calling `business_object_delete_business_object_by_public_id_v1`")  # noqa: E501
        # verify the required parameter 'publicid' is set
        if ('publicid' not in local_var_params or
                local_var_params['publicid'] is None):
            raise ApiValueError("Missing the required parameter `publicid` when calling `business_object_delete_business_object_by_public_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobid' in local_var_params:
            path_params['busobid'] = local_var_params['busobid']  # noqa: E501
        if 'publicid' in local_var_params:
            path_params['publicid'] = local_var_params['publicid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/deletebusinessobject/busobid/{busobid}/publicid/{publicid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_delete_business_object_by_rec_id_v1(self, busobid, busobrecid, **kwargs):  # noqa: E501
        """Delete a Business Object by record ID  # noqa: E501

        Operation to delete a single Business Object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_by_rec_id_v1(busobid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid:  Specify the Business Object record ID. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: DeleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_delete_business_object_by_rec_id_v1_with_http_info(busobid, busobrecid, **kwargs)  # noqa: E501

    def business_object_delete_business_object_by_rec_id_v1_with_http_info(self, busobid, busobrecid, **kwargs):  # noqa: E501
        """Delete a Business Object by record ID  # noqa: E501

        Operation to delete a single Business Object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_business_object_by_rec_id_v1_with_http_info(busobid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid:  Specify the Business Object record ID. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(DeleteResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobid', 'busobrecid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_delete_business_object_by_rec_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobid' is set
        if ('busobid' not in local_var_params or
                local_var_params['busobid'] is None):
            raise ApiValueError("Missing the required parameter `busobid` when calling `business_object_delete_business_object_by_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'busobrecid' is set
        if ('busobrecid' not in local_var_params or
                local_var_params['busobrecid'] is None):
            raise ApiValueError("Missing the required parameter `busobrecid` when calling `business_object_delete_business_object_by_rec_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobid' in local_var_params:
            path_params['busobid'] = local_var_params['busobid']  # noqa: E501
        if 'busobrecid' in local_var_params:
            path_params['busobrecid'] = local_var_params['busobrecid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/deletebusinessobject/busobid/{busobid}/busobrecid/{busobrecid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_delete_related_business_object_by_public_id_v1(self, parentbusobid, parentbusobrecid, relationshipid, publicid, **kwargs):  # noqa: E501
        """Delete a related Business Object by public ID  # noqa: E501

        Operation to delete a related Business Object. (Use \"Unlink Related Business Object\" to unlink two Business Objects rather that deleting the related Business Object.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_related_business_object_by_public_id_v1(parentbusobid, parentbusobrecid, relationshipid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str parentbusobid: Specify the Business Object ID for the parent Business Object. (required)
        :param str parentbusobrecid: Specify the record ID for the parent Business Object (required)
        :param str relationshipid: Specify the Relationship ID for the related Business Object you want to delete. (required)
        :param str publicid: Specify the public ID for the related Business Object you want to delete. Use only for Business Objects with unique public IDs. Use \"Delete a related Business Object by record ID\" when public IDs are not unique. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: RelatedBusinessObjectResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_delete_related_business_object_by_public_id_v1_with_http_info(parentbusobid, parentbusobrecid, relationshipid, publicid, **kwargs)  # noqa: E501

    def business_object_delete_related_business_object_by_public_id_v1_with_http_info(self, parentbusobid, parentbusobrecid, relationshipid, publicid, **kwargs):  # noqa: E501
        """Delete a related Business Object by public ID  # noqa: E501

        Operation to delete a related Business Object. (Use \"Unlink Related Business Object\" to unlink two Business Objects rather that deleting the related Business Object.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_related_business_object_by_public_id_v1_with_http_info(parentbusobid, parentbusobrecid, relationshipid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str parentbusobid: Specify the Business Object ID for the parent Business Object. (required)
        :param str parentbusobrecid: Specify the record ID for the parent Business Object (required)
        :param str relationshipid: Specify the Relationship ID for the related Business Object you want to delete. (required)
        :param str publicid: Specify the public ID for the related Business Object you want to delete. Use only for Business Objects with unique public IDs. Use \"Delete a related Business Object by record ID\" when public IDs are not unique. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(RelatedBusinessObjectResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['parentbusobid', 'parentbusobrecid', 'relationshipid', 'publicid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_delete_related_business_object_by_public_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'parentbusobid' is set
        if ('parentbusobid' not in local_var_params or
                local_var_params['parentbusobid'] is None):
            raise ApiValueError("Missing the required parameter `parentbusobid` when calling `business_object_delete_related_business_object_by_public_id_v1`")  # noqa: E501
        # verify the required parameter 'parentbusobrecid' is set
        if ('parentbusobrecid' not in local_var_params or
                local_var_params['parentbusobrecid'] is None):
            raise ApiValueError("Missing the required parameter `parentbusobrecid` when calling `business_object_delete_related_business_object_by_public_id_v1`")  # noqa: E501
        # verify the required parameter 'relationshipid' is set
        if ('relationshipid' not in local_var_params or
                local_var_params['relationshipid'] is None):
            raise ApiValueError("Missing the required parameter `relationshipid` when calling `business_object_delete_related_business_object_by_public_id_v1`")  # noqa: E501
        # verify the required parameter 'publicid' is set
        if ('publicid' not in local_var_params or
                local_var_params['publicid'] is None):
            raise ApiValueError("Missing the required parameter `publicid` when calling `business_object_delete_related_business_object_by_public_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parentbusobid' in local_var_params:
            path_params['parentbusobid'] = local_var_params['parentbusobid']  # noqa: E501
        if 'parentbusobrecid' in local_var_params:
            path_params['parentbusobrecid'] = local_var_params['parentbusobrecid']  # noqa: E501
        if 'relationshipid' in local_var_params:
            path_params['relationshipid'] = local_var_params['relationshipid']  # noqa: E501
        if 'publicid' in local_var_params:
            path_params['publicid'] = local_var_params['publicid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/deleterelatedbusinessobject/parentbusobid/{parentbusobid}/parentbusobrecid/{parentbusobrecid}/relationshipid/{relationshipid}/publicid/{publicid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RelatedBusinessObjectResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_delete_related_business_object_by_rec_id_v1(self, parentbusobid, parentbusobrecid, relationshipid, busobrecid, **kwargs):  # noqa: E501
        """Delete a related Business Object by record ID  # noqa: E501

        Operation to delete a related Business Object. (Use \"Unlink Related Business Object\" to unlink two Business Objects rather that deleting the related Business Object.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_related_business_object_by_rec_id_v1(parentbusobid, parentbusobrecid, relationshipid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str parentbusobid: Specify the Business Object ID for the parent Business Object. (required)
        :param str parentbusobrecid: Specify the record ID for the parent Business Object (required)
        :param str relationshipid: Specify the Relationship ID for the related Business Object you want to delete. (required)
        :param str busobrecid: Specify the record ID for the related Business Object you want to delete. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: RelatedBusinessObjectResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_delete_related_business_object_by_rec_id_v1_with_http_info(parentbusobid, parentbusobrecid, relationshipid, busobrecid, **kwargs)  # noqa: E501

    def business_object_delete_related_business_object_by_rec_id_v1_with_http_info(self, parentbusobid, parentbusobrecid, relationshipid, busobrecid, **kwargs):  # noqa: E501
        """Delete a related Business Object by record ID  # noqa: E501

        Operation to delete a related Business Object. (Use \"Unlink Related Business Object\" to unlink two Business Objects rather that deleting the related Business Object.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_delete_related_business_object_by_rec_id_v1_with_http_info(parentbusobid, parentbusobrecid, relationshipid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str parentbusobid: Specify the Business Object ID for the parent Business Object. (required)
        :param str parentbusobrecid: Specify the record ID for the parent Business Object (required)
        :param str relationshipid: Specify the Relationship ID for the related Business Object you want to delete. (required)
        :param str busobrecid: Specify the record ID for the related Business Object you want to delete. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(RelatedBusinessObjectResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['parentbusobid', 'parentbusobrecid', 'relationshipid', 'busobrecid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_delete_related_business_object_by_rec_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'parentbusobid' is set
        if ('parentbusobid' not in local_var_params or
                local_var_params['parentbusobid'] is None):
            raise ApiValueError("Missing the required parameter `parentbusobid` when calling `business_object_delete_related_business_object_by_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'parentbusobrecid' is set
        if ('parentbusobrecid' not in local_var_params or
                local_var_params['parentbusobrecid'] is None):
            raise ApiValueError("Missing the required parameter `parentbusobrecid` when calling `business_object_delete_related_business_object_by_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'relationshipid' is set
        if ('relationshipid' not in local_var_params or
                local_var_params['relationshipid'] is None):
            raise ApiValueError("Missing the required parameter `relationshipid` when calling `business_object_delete_related_business_object_by_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'busobrecid' is set
        if ('busobrecid' not in local_var_params or
                local_var_params['busobrecid'] is None):
            raise ApiValueError("Missing the required parameter `busobrecid` when calling `business_object_delete_related_business_object_by_rec_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parentbusobid' in local_var_params:
            path_params['parentbusobid'] = local_var_params['parentbusobid']  # noqa: E501
        if 'parentbusobrecid' in local_var_params:
            path_params['parentbusobrecid'] = local_var_params['parentbusobrecid']  # noqa: E501
        if 'relationshipid' in local_var_params:
            path_params['relationshipid'] = local_var_params['relationshipid']  # noqa: E501
        if 'busobrecid' in local_var_params:
            path_params['busobrecid'] = local_var_params['busobrecid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/deleterelatedbusinessobject/parentbusobid/{parentbusobid}/parentbusobrecid/{parentbusobrecid}/relationshipid/{relationshipid}/busobrecid/{busobrecid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RelatedBusinessObjectResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_field_values_lookup_v1(self, field_values_lookup_request, **kwargs):  # noqa: E501
        """Get lookup values for fields  # noqa: E501

        Operation to get potentially valid values for Business Object fields.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_field_values_lookup_v1(field_values_lookup_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param FieldValuesLookupRequest field_values_lookup_request: Request object that specifies the Business Object and fields for which values are to be returned. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FieldValuesLookupResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_field_values_lookup_v1_with_http_info(field_values_lookup_request, **kwargs)  # noqa: E501

    def business_object_field_values_lookup_v1_with_http_info(self, field_values_lookup_request, **kwargs):  # noqa: E501
        """Get lookup values for fields  # noqa: E501

        Operation to get potentially valid values for Business Object fields.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_field_values_lookup_v1_with_http_info(field_values_lookup_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param FieldValuesLookupRequest field_values_lookup_request: Request object that specifies the Business Object and fields for which values are to be returned. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FieldValuesLookupResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['field_values_lookup_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_field_values_lookup_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'field_values_lookup_request' is set
        if ('field_values_lookup_request' not in local_var_params or
                local_var_params['field_values_lookup_request'] is None):
            raise ApiValueError("Missing the required parameter `field_values_lookup_request` when calling `business_object_field_values_lookup_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'field_values_lookup_request' in local_var_params:
            body_params = local_var_params['field_values_lookup_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/fieldvalueslookup', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FieldValuesLookupResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachment_by_attachment_id_v1(self, attachmentid, busobid, busobrecid, **kwargs):  # noqa: E501
        """Get an imported Business Object attachment  # noqa: E501

        Operation to get a Business Object attachment that has been imported into the system.  HTTP Range Header can be used but is optional.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachment_by_attachment_id_v1(attachmentid, busobid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str attachmentid: Specify the internal ID of the attachment record that contains information about the imported file. (required)
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachment_by_attachment_id_v1_with_http_info(attachmentid, busobid, busobrecid, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachment_by_attachment_id_v1_with_http_info(self, attachmentid, busobid, busobrecid, **kwargs):  # noqa: E501
        """Get an imported Business Object attachment  # noqa: E501

        Operation to get a Business Object attachment that has been imported into the system.  HTTP Range Header can be used but is optional.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachment_by_attachment_id_v1_with_http_info(attachmentid, busobid, busobrecid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str attachmentid: Specify the internal ID of the attachment record that contains information about the imported file. (required)
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(file, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['attachmentid', 'busobid', 'busobrecid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachment_by_attachment_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'attachmentid' is set
        if ('attachmentid' not in local_var_params or
                local_var_params['attachmentid'] is None):
            raise ApiValueError("Missing the required parameter `attachmentid` when calling `business_object_get_business_object_attachment_by_attachment_id_v1`")  # noqa: E501
        # verify the required parameter 'busobid' is set
        if ('busobid' not in local_var_params or
                local_var_params['busobid'] is None):
            raise ApiValueError("Missing the required parameter `busobid` when calling `business_object_get_business_object_attachment_by_attachment_id_v1`")  # noqa: E501
        # verify the required parameter 'busobrecid' is set
        if ('busobrecid' not in local_var_params or
                local_var_params['busobrecid'] is None):
            raise ApiValueError("Missing the required parameter `busobrecid` when calling `business_object_get_business_object_attachment_by_attachment_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attachmentid' in local_var_params:
            path_params['attachmentid'] = local_var_params['attachmentid']  # noqa: E501
        if 'busobid' in local_var_params:
            path_params['busobid'] = local_var_params['busobid']  # noqa: E501
        if 'busobrecid' in local_var_params:
            path_params['busobrecid'] = local_var_params['busobrecid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachment/attachmentid/{attachmentid}/busobid/{busobid}/busobrecid/{busobrecid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachments_by_id_and_public_id_v1(self, busobid, publicid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object public ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object ID and public ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_id_and_public_id_v1(busobid, publicid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID for the record that contains the attachments. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: AttachmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachments_by_id_and_public_id_v1_with_http_info(busobid, publicid, type, attachmenttype, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachments_by_id_and_public_id_v1_with_http_info(self, busobid, publicid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object public ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object ID and public ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_id_and_public_id_v1_with_http_info(busobid, publicid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID for the record that contains the attachments. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(AttachmentsResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobid', 'publicid', 'type', 'attachmenttype', 'includelinks']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachments_by_id_and_public_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobid' is set
        if ('busobid' not in local_var_params or
                local_var_params['busobid'] is None):
            raise ApiValueError("Missing the required parameter `busobid` when calling `business_object_get_business_object_attachments_by_id_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'publicid' is set
        if ('publicid' not in local_var_params or
                local_var_params['publicid'] is None):
            raise ApiValueError("Missing the required parameter `publicid` when calling `business_object_get_business_object_attachments_by_id_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in local_var_params or
                local_var_params['type'] is None):
            raise ApiValueError("Missing the required parameter `type` when calling `business_object_get_business_object_attachments_by_id_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'attachmenttype' is set
        if ('attachmenttype' not in local_var_params or
                local_var_params['attachmenttype'] is None):
            raise ApiValueError("Missing the required parameter `attachmenttype` when calling `business_object_get_business_object_attachments_by_id_and_public_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobid' in local_var_params:
            path_params['busobid'] = local_var_params['busobid']  # noqa: E501
        if 'publicid' in local_var_params:
            path_params['publicid'] = local_var_params['publicid']  # noqa: E501
        if 'type' in local_var_params:
            path_params['type'] = local_var_params['type']  # noqa: E501
        if 'attachmenttype' in local_var_params:
            path_params['attachmenttype'] = local_var_params['attachmenttype']  # noqa: E501

        query_params = []
        if 'includelinks' in local_var_params:
            query_params.append(('includelinks', local_var_params['includelinks']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachments/busobid/{busobid}/publicid/{publicid}/type/{type}/attachmenttype/{attachmenttype}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttachmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachments_by_id_and_rec_id_v1(self, busobid, busobrecid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object record ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object ID and record ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_id_and_rec_id_v1(busobid, busobrecid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: AttachmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachments_by_id_and_rec_id_v1_with_http_info(busobid, busobrecid, type, attachmenttype, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachments_by_id_and_rec_id_v1_with_http_info(self, busobid, busobrecid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object record ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object ID and record ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_id_and_rec_id_v1_with_http_info(busobid, busobrecid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(AttachmentsResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobid', 'busobrecid', 'type', 'attachmenttype', 'includelinks']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachments_by_id_and_rec_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobid' is set
        if ('busobid' not in local_var_params or
                local_var_params['busobid'] is None):
            raise ApiValueError("Missing the required parameter `busobid` when calling `business_object_get_business_object_attachments_by_id_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'busobrecid' is set
        if ('busobrecid' not in local_var_params or
                local_var_params['busobrecid'] is None):
            raise ApiValueError("Missing the required parameter `busobrecid` when calling `business_object_get_business_object_attachments_by_id_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in local_var_params or
                local_var_params['type'] is None):
            raise ApiValueError("Missing the required parameter `type` when calling `business_object_get_business_object_attachments_by_id_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'attachmenttype' is set
        if ('attachmenttype' not in local_var_params or
                local_var_params['attachmenttype'] is None):
            raise ApiValueError("Missing the required parameter `attachmenttype` when calling `business_object_get_business_object_attachments_by_id_and_rec_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobid' in local_var_params:
            path_params['busobid'] = local_var_params['busobid']  # noqa: E501
        if 'busobrecid' in local_var_params:
            path_params['busobrecid'] = local_var_params['busobrecid']  # noqa: E501
        if 'type' in local_var_params:
            path_params['type'] = local_var_params['type']  # noqa: E501
        if 'attachmenttype' in local_var_params:
            path_params['attachmenttype'] = local_var_params['attachmenttype']  # noqa: E501

        query_params = []
        if 'includelinks' in local_var_params:
            query_params.append(('includelinks', local_var_params['includelinks']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachments/busobid/{busobid}/busobrecid/{busobrecid}/type/{type}/attachmenttype/{attachmenttype}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttachmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachments_by_name_and_public_id_v1(self, busobname, publicid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object name and public ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object Name and public ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_name_and_public_id_v1(busobname, publicid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobname: Specify the Business Object name. (required)
        :param str publicid: Specify the Business Object public ID for the record that contains the attachments. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: AttachmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachments_by_name_and_public_id_v1_with_http_info(busobname, publicid, type, attachmenttype, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachments_by_name_and_public_id_v1_with_http_info(self, busobname, publicid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object name and public ID  # noqa: E501

        Operation to get attachments for a Business Object by Business Object Name and public ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_name_and_public_id_v1_with_http_info(busobname, publicid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobname: Specify the Business Object name. (required)
        :param str publicid: Specify the Business Object public ID for the record that contains the attachments. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(AttachmentsResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobname', 'publicid', 'type', 'attachmenttype', 'includelinks']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachments_by_name_and_public_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobname' is set
        if ('busobname' not in local_var_params or
                local_var_params['busobname'] is None):
            raise ApiValueError("Missing the required parameter `busobname` when calling `business_object_get_business_object_attachments_by_name_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'publicid' is set
        if ('publicid' not in local_var_params or
                local_var_params['publicid'] is None):
            raise ApiValueError("Missing the required parameter `publicid` when calling `business_object_get_business_object_attachments_by_name_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in local_var_params or
                local_var_params['type'] is None):
            raise ApiValueError("Missing the required parameter `type` when calling `business_object_get_business_object_attachments_by_name_and_public_id_v1`")  # noqa: E501
        # verify the required parameter 'attachmenttype' is set
        if ('attachmenttype' not in local_var_params or
                local_var_params['attachmenttype'] is None):
            raise ApiValueError("Missing the required parameter `attachmenttype` when calling `business_object_get_business_object_attachments_by_name_and_public_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobname' in local_var_params:
            path_params['busobname'] = local_var_params['busobname']  # noqa: E501
        if 'publicid' in local_var_params:
            path_params['publicid'] = local_var_params['publicid']  # noqa: E501
        if 'type' in local_var_params:
            path_params['type'] = local_var_params['type']  # noqa: E501
        if 'attachmenttype' in local_var_params:
            path_params['attachmenttype'] = local_var_params['attachmenttype']  # noqa: E501

        query_params = []
        if 'includelinks' in local_var_params:
            query_params.append(('includelinks', local_var_params['includelinks']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachments/busobname/{busobname}/publicid/{publicid}/type/{type}/attachmenttype/{attachmenttype}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttachmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachments_by_name_and_rec_id_v1(self, busobname, busobrecid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object name and record ID  # noqa: E501

        Operation to get attachments for a Business Object by name and record ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_name_and_rec_id_v1(busobname, busobrecid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobname: Specify the Business Object name. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: AttachmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachments_by_name_and_rec_id_v1_with_http_info(busobname, busobrecid, type, attachmenttype, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachments_by_name_and_rec_id_v1_with_http_info(self, busobname, busobrecid, type, attachmenttype, **kwargs):  # noqa: E501
        """Get attachments by Business Object name and record ID  # noqa: E501

        Operation to get attachments for a Business Object by name and record ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_by_name_and_rec_id_v1_with_http_info(busobname, busobrecid, type, attachmenttype, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobname: Specify the Business Object name. (required)
        :param str busobrecid: Specify the Business Object record ID. (required)
        :param str type: Record attachment type: </br></br>None - Not applicable to the REST API. </br></br>File - Linked files. </br></br>FileManagerFile - Imported files.</br></br>BusOb - Attached Business Objects. </br></br>History - Information about the attachment, if any is available. For example, an e-mail message may store the name of an attachment sent.</br></br>Other - Not applicable to the REST API. </br> (required)
        :param str attachmenttype: For file types, select the type of attachment: </br></br>Imported - Attachment was imported into database. </br></br>Linked - Attachment is linked to an external file. </br></br>URL - Attachment is a URL. (required)
        :param bool includelinks: Flag to include hyperlinks in results. Default is false. 
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(AttachmentsResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobname', 'busobrecid', 'type', 'attachmenttype', 'includelinks']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachments_by_name_and_rec_id_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'busobname' is set
        if ('busobname' not in local_var_params or
                local_var_params['busobname'] is None):
            raise ApiValueError("Missing the required parameter `busobname` when calling `business_object_get_business_object_attachments_by_name_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'busobrecid' is set
        if ('busobrecid' not in local_var_params or
                local_var_params['busobrecid'] is None):
            raise ApiValueError("Missing the required parameter `busobrecid` when calling `business_object_get_business_object_attachments_by_name_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in local_var_params or
                local_var_params['type'] is None):
            raise ApiValueError("Missing the required parameter `type` when calling `business_object_get_business_object_attachments_by_name_and_rec_id_v1`")  # noqa: E501
        # verify the required parameter 'attachmenttype' is set
        if ('attachmenttype' not in local_var_params or
                local_var_params['attachmenttype'] is None):
            raise ApiValueError("Missing the required parameter `attachmenttype` when calling `business_object_get_business_object_attachments_by_name_and_rec_id_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'busobname' in local_var_params:
            path_params['busobname'] = local_var_params['busobname']  # noqa: E501
        if 'busobrecid' in local_var_params:
            path_params['busobrecid'] = local_var_params['busobrecid']  # noqa: E501
        if 'type' in local_var_params:
            path_params['type'] = local_var_params['type']  # noqa: E501
        if 'attachmenttype' in local_var_params:
            path_params['attachmenttype'] = local_var_params['attachmenttype']  # noqa: E501

        query_params = []
        if 'includelinks' in local_var_params:
            query_params.append(('includelinks', local_var_params['includelinks']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachments/busobname/{busobname}/busobrecid/{busobrecid}/type/{type}/attachmenttype/{attachmenttype}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttachmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_attachments_v1(self, attachments_request, **kwargs):  # noqa: E501
        """Get Business Object attachments by request object  # noqa: E501

        Operation to get attachments for a Business Object by attachments request object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_v1(attachments_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param AttachmentsRequest attachments_request: Object with all the parameters to request an attachments list. You can also request a list of types to get more than just one type at a time. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: AttachmentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_attachments_v1_with_http_info(attachments_request, **kwargs)  # noqa: E501

    def business_object_get_business_object_attachments_v1_with_http_info(self, attachments_request, **kwargs):  # noqa: E501
        """Get Business Object attachments by request object  # noqa: E501

        Operation to get attachments for a Business Object by attachments request object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_attachments_v1_with_http_info(attachments_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param AttachmentsRequest attachments_request: Object with all the parameters to request an attachments list. You can also request a list of types to get more than just one type at a time. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(AttachmentsResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['attachments_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_attachments_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'attachments_request' is set
        if ('attachments_request' not in local_var_params or
                local_var_params['attachments_request'] is None):
            raise ApiValueError("Missing the required parameter `attachments_request` when calling `business_object_get_business_object_attachments_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'attachments_request' in local_var_params:
            body_params = local_var_params['attachments_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectattachments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttachmentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_batch_v1(self, batch_read_request, **kwargs):  # noqa: E501
        """Get a batch of Business Object records  # noqa: E501

        Operation that returns a batch of Business Object records that includes a list of field record IDs, display names, and values for each record.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_batch_v1(batch_read_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param BatchReadRequest batch_read_request: Specify an array of Business Object IDs, record IDs, or public IDs. Use a flag to stop on error or continue on error. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: BatchReadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_batch_v1_with_http_info(batch_read_request, **kwargs)  # noqa: E501

    def business_object_get_business_object_batch_v1_with_http_info(self, batch_read_request, **kwargs):  # noqa: E501
        """Get a batch of Business Object records  # noqa: E501

        Operation that returns a batch of Business Object records that includes a list of field record IDs, display names, and values for each record.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_batch_v1_with_http_info(batch_read_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param BatchReadRequest batch_read_request: Specify an array of Business Object IDs, record IDs, or public IDs. Use a flag to stop on error or continue on error. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(BatchReadResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['batch_read_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method business_object_get_business_object_batch_v1" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'batch_read_request' is set
        if ('batch_read_request' not in local_var_params or
                local_var_params['batch_read_request'] is None):
            raise ApiValueError("Missing the required parameter `batch_read_request` when calling `business_object_get_business_object_batch_v1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'batch_read_request' in local_var_params:
            body_params = local_var_params['batch_read_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/V1/getbusinessobjectbatch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BatchReadResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def business_object_get_business_object_by_public_id_v1(self, busobid, publicid, **kwargs):  # noqa: E501
        """Get a Business Object record  # noqa: E501

        Operation that returns a Business Object record that includes a list of fields and their record IDs, names, and set values.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_by_public_id_v1(busobid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ReadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.business_object_get_business_object_by_public_id_v1_with_http_info(busobid, publicid, **kwargs)  # noqa: E501

    def business_object_get_business_object_by_public_id_v1_with_http_info(self, busobid, publicid, **kwargs):  # noqa: E501
        """Get a Business Object record  # noqa: E501

        Operation that returns a Business Object record that includes a list of fields and their record IDs, names, and set values.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.business_object_get_business_object_by_public_id_v1_with_http_info(busobid, publicid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str busobid: Specify the Business Object ID. (required)
        :param str publicid: Specify the Business Object public ID. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ReadResponse, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['busobid', 'publicid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
[...]
